PersonalWebsite/PersonalWebsite.code-workspace
PersonalWebsite/__pycache__/urls.cpython-39.pyc
PersonalWebsite/__pycache__


app/__pycache__
app/__pycache__/urls.cpython-39.pyc
app/__pycache__/views.cpython-39.pyc
PersonalWebsite/__pycache__/urls.cpython-39.pyc
app/templates/home.css
