<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Chris Rio</title>
      <meta name="author" content="Chris Rio">
      <meta name="description" content="IT Professional">
      <link href="https://rcrjrwebsite.s3.us-east-2.amazonaws.com/home.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/7ceb1a96ea.js" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="overlay"></div>
      <div class="fullpage-bg">
         <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="fullpage-bg-vid">
            <source src="https://rcrjrwebsite.s3.us-east-2.amazonaws.com/bg.mov" type="video/mp4">
         </video>
      </div>
      <div class="d-flex flex-column min-vh-100 text-center justify-content-center align-items-center">
         <div class="row">
            <div class="text-white">
               <span style="color:hsl(60, 100%, 97%)";" font-family:-apple-system, BlinkMacSystemFont, ' Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, ' Open Sans', ' Helvetica Neue', sans-serif ">
               <h1 class="display-1">Chris Rio</h1>
               <p class="lead mb-0">IT Professional and Aspiring Developer</p>
               </span>
            </div>
         </div>
         <div class="row">
            <div class="avatar-img">
               <img src="https://avatars.githubusercontent.com/u/82326727?v=4" class="rounded-circle">
            </div>
         </div>
         <div class="row">
            <div class="col">
               <span style="color:hsl(60, 100%, 97%)">
               <a href="https://www.linkedin.com/in/rcrjr/" style="color: inherit" title="LinkedIn"><i class="fab fa-linkedin fa-8x"></i></a>
               </span> 
            </div>
            <div class="col">
               <span style="color:hsl(60, 100%, 97%)">
               <a href="https://github.com/rcrjr97/" style="color: inherit" title="GitHub"><i class="fab fa-github-square fa-8x"></i></a>
               </span> 
            </div>
            <div class="col">
               <span style="color:hsl(60, 100%, 97%)">
               <a href="https://www.instagram.com/rcrjr9712/" style="color: inherit" title="Instagram"><i class="fab fa-instagram-square fa-8x"></i></a>
               </span> 
            </div>
            <div class="col">
               <span style="color:hsl(60, 100%, 97%)">
               <a href="mailto:webmaster@chrisrio.com" style="color: inherit" title="Email"><i class="fas fa-envelope-square fa-8x"></i></a>
               </span> 
            </div>
            <div class="col">
               <span style="color:hsl(60, 100%, 97%)">
               <a href="https://rcrjrwebsite.s3.us-east-2.amazonaws.com/resume.pdf" style="color: inherit" title="Résumé"><i class="far fa-file-alt fa-8x" data-fa-transform="shrink-4" data-fa-mask="fas fa-square fa-8x"></i></a>
               </span>
            </div>
         </div>
      </div>
   </body>
</html>